.form-container {
    background-color: $grey-light;
    border-radius: 24px;
    padding: 24px;
    box-shadow: $color-shadow;
    margin-top: 50px;

    .form-section {
        
        input {
            margin-top: 6px;
            margin-bottom: 3px;

        }
    }
}

.form-title {
    text-align: center;
    color: $blue;
}