//import dei vari file scss
@import 'variables';
@import 'home';
@import 'form';
@import 'post';
@import 'users';

//classi utility
body {
    font-family: $font-twit;
}

#app {
    background-color: $blue;
}

//classe personalizzata per grafica container
.container-twit {
    background-color: $white;
    box-shadow: 0px 0px 3px 1px rgba($color: #000, $alpha: .2);
    min-height: 100vh;
    position: relative;
}

.nav-twit {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-twit {

    font-size: 24px;
    color: $black;
    margin: 12px 0;
}

.border-container {
    border-left: 1px solid $blue;
    border-right: 1px solid $blue;
    box-shadow: $color-shadow-blue;
}
